
#main {
    text-align: center;
    height: 100%;
}
#main span {
    visibility: hidden;
    text-align: center;
    font-size: 80pt;
    color: #ff008c
}
#main span.active {
    visibility: visible;
}
